body{
    margin: 0;
    padding: 0;
    background: rgb(184, 149, 149);

    
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
h4{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.header{
    margin-top: 40px;
}

.nav{
    text-align: right;
    margin-right: 20px;
  
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  
}
.nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
   
}
.nav a:hover{
    color: red;
}
.card{
    float: left;
  
}
.card{
    background-color: rgb(241, 236, 236);
    width: 325px;
    height: 490px;
    margin-left: 30px;
    border-radius: 5px;
   margin-bottom: 20px;

    /* margin: 15px; */
}
.card img{
    width: 325px;
    height: 300px;
    border-radius: 5px;
}
.card h1{
    font-size: 30px;
    margin-left: 20px;
}
.card p{
    font-size: 20px;
}
.card .button{
    margin-left: 50px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    border: 2px solid rgb(201, 196, 196);
    border-radius: 5px;
    background-color: rgb(155, 133, 133);
}
.footer{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    width:100%;
    bottom: 0;
    position: fixed;
    margin-right: 200px;
   
  
}

